<div class="row quangcao-top">
    <div class="col-sm-6" style="padding-bottom:15px">
        <div class="banner-style-01">
            <a rel="nofollow" target="_blank" href="http://goo.gl/K0pfg6"><img src="/content/front-end/images/vip/dungchatvolam.png" alt="Đúng chất Võ Lâm" title="Đúng chất Võ Lâm" width="100%"></a>
        </div>
    </div>
    <div class="col-sm-6" style="padding-bottom:15px">
        <div class="banner-style-02">

            <a rel="nofollow" target="_blank" href="http://bit.ly/rutgonlinkkiemtien"><img src="/content/front-end/images/vip/rut-gon-link.png_733574217.jpg" alt="Rút gọn link kiếm tiền uy tín chiết khấu cực cao" title="Rút gọn link kiếm tiền uy tín chiết khấu cực cao" width="100%"></a>
        </div>
    </div>
</div>
