<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand navbar-brand-image" href="/" title="@Transverse.Constants.AppName Service">
                <i class="fa fa-cloud" style="color:#fff;font-size:45px;/*padding:4px 0 0 8px;*/padding:10px 0 0 8px;margin-left:15px;white-space:nowrap;"><span style="font-size: 20px;font-family:tahoma;padding-left:10px;vertical-align:9px;">@Transverse.Constants.AppName Service</span> </i>
            </a>
        </div>
    </div>
</div>
